body.colorscheme-dark img.logo {
	content: url("../images/whiteLogo.png");
}

body.colorscheme-light img.logo {
	content: url("../images/blackLogo.png");
}

a:hover {
	text-decoration: none;
	color: #ff1122 !important;
}

body.colorscheme-dark .navigation a .lastname {
	color: #636363;
}

body.colorscheme-light .navigation a .lastname {
	color: #919191;
}