body.colorscheme-dark img.inits {
	content: url("../images/whiteInits.png");
}

body.colorscheme-light img.inits {
	content: url("../images/blackInits.png");
}

.resume {
	line-height: 150%;
	margin-top: -10px;
}

.res-left p {
	hyphens: none !important;
}

body.colorscheme-dark div.resume h2 {
	border-color: #dadada;
}

body.colorscheme-light div.resume h2 {
	border-color: #212121;
}

body.colorscheme-dark div.initials {
	border-color: #dadada;
}

body.colorscheme-light div.initials {
	border-color: #212121;
}

.resume h2 {
	border-bottom: 1px solid;
}

@media only screen and (min-width: 601px) {

	.res-row {
		display: flex;
	}

	.res-left {
		width: 70%;
	}

	.res-right {
		margin-left: 10px;
		margin-right: auto;
	}

	.res-initials {
		width: 120px;
		height: 120px;
		font-size: 4em;
		border: 5px solid;
		box-sizing: border-box;
		margin: auto;
	}

	.res-initials p {
		text-align: center !important;
		margin: auto;
		vertical-align: middle;
		line-height: normal;
	}
}

@media only screen and (max-width: 600px) {
	.res-initials {
		display: none;
	}

	.res-row {
		display: flex;
		flex-wrap: wrap;
	}

	.res-left {
		width: 100%;
		order: 2;
	}

	.res-right {
		width: 100%;
		order: 1;
	}
}